@import "tailwindcss";

@theme {
  --color-primary: #141f38;
  --color-primary-foreground: #f8fafc;

  --color-destructive: #c40c0c;

  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #1e293b;
}
